# **Exercise**
ref: [EDA 15Questions - Using Pandas !!](https://www.kaggle.com/boydbigdatarpg/)

## Titanic Dataset

**Survival:**	Survival	0 = No, 1 = Yes

**Pclass:**	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd

**Sex:**	Sex

**Age:**	Age in years

**SibSp:**	number of siblings / spouses aboard the Titanic

**Parch:**	number of parents / children aboard the Titanic

**Ticket:**	Ticket number

**Fare:**	Passenger fare

**Cabin:**	Cabin number

**Embarked:**	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('titanic.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**How many passenger in Pclass 1?**

In [ ]:
# YOUR CODE HERE

216

**How many female dead in dataset and calculated in percentages?**

In [ ]:
# YOUR CODE HERE

81

**Which is the most age of dead passenger? (frequency)**

In [ ]:
# YOUR CODE HERE

21.0

**Average age of dead female passengers and dead male passengers**

In [ ]:
# YOUR CODE HERE

female: 25.05
male: 31.62

**Which columns has null value ? If it has null value how many null rows in each columns**

In [ ]:
# YOUR CODE HERE

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**In Age column replace null value with average value and then check null again**

In [ ]:
# YOUR CODE HERE

**Average Ticket price of each Pclass ?**

In [ ]:
# YOUR CODE HERE

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

**Average Ticket price of each Pclass that passenger died ?**

In [ ]:
# YOUR CODE HERE

Pclass
1    64.684007
2    19.412328
3    13.669364
Name: Fare, dtype: float64

**Average Ticket price of each Pclass that passenger survived ?**

In [ ]:
# YOUR CODE HERE

Pclass
1    95.608029
2    22.055700
3    13.694887
Name: Fare, dtype: float64

**Average Ticket price of each Pclass, calculated by all pasengers, dead passengers, and survived passengers ?**

In [ ]:
# YOUR CODE HERE

        all_passengers_avg_fare  ...  survived_passengers_avg_fare
Pclass                           ...
1                     84.154687  ...                     95.608029
2                     20.662183  ...                     22.055700
3                     13.675550  ...                     13.694887

[3 rows x 3 columns]

**Which port has the best rate survived?**

C = Cherbourg, Q = Queenstown, S = Southampton

In [ ]:
# YOUR CODE HERE

          Count  Percent Survived
Embarked
C           168         55.357143
Q            77         38.961039
S           644         33.695652

**Find the youngest and oldest people on Titanic**

**[Hint]** you can use **.idxmin()** to find index of lowest value and  **.idxmax()** to find index of highest value.

In [ ]:
# YOUR CODE HERE

PassengerId                                804
Survived                                     1
Pclass                                       3
Name           Thomas, Master. Assad Alexander
Sex                                       male
Age                                       0.42
SibSp                                        0
Parch                                        1
Ticket                                    2625
Fare                                    8.5167
Cabin                                      NaN
Embarked                                     C
Name: 803, dtype: object

In [ ]:
# YOUR CODE HERE

PassengerId                                     631
Survived                                          1
Pclass                                            1
Name           Barkworth, Mr. Algernon Henry Wilson
Sex                                            male
Age                                            80.0
SibSp                                             0
Parch                                             0
Ticket                                        27042
Fare                                           30.0
Cabin                                           A23
Embarked                                          S
Name: 630, dtype: object

**List of the first 3 who paid the most for the ticket and the top 3 who paid the cheapest**

In [ ]:
# YOUR CODE HERE

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C

In [ ]:
# YOUR CODE HERE

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S